{% extends 'main.html' %}

{% block content%}

<style>
  .home-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>

<form method="GET" action="{% url 'home' %}">
<input type="text" name="q" placeholder="Search Rooms..."/>
</form>

{% if request.user.is_authenticated %}
<p>Hello {{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<div class="home-container">
  
<div>
  {% include 'topics_component.html' %}
</div>
  <div>
    <div>
      <h5>{{room_count}} Room available</h5>
    <a href="{% url 'create-room' %}">Crete room</a>
</div>

<div>
    {% include 'feed_component.html' %}
</div>

  </div>
  
  <div>
    {% include 'activity_component.html' %}
  </div>

</div>


{% endblock content %}